@font-face {
	font-family: 'amiamie';
	src: url('../fonts/Amiamie-RegularRound.otf')
}
@font-face {
	font-family: 'hershey';
	src: url('../fonts/Amiamie-BlackRound.otf');
	font-weight: bold
}

body {
	font-family: 'hershey';
	color: rgb(248, 199, 255);
	padding: 20px;
	margin: 5px;
	font-size: 4vh;
	background: black;
	overflow:hidden;
}

.page {
	background: black;
	overflow: hidden;
	display: none;
	margin: 10px 50px 10px 50px;
  }

h1 {
	text-align: center;
	font-size: 2em;
	border-bottom: dotted 10px rgb(248, 199, 255) ;
	height: fit-content;
	width: fit-content;
	margin: auto;
}

h3 {
	text-align: left;
	padding: 20px;

}

.active {
	display: block;
}

h2 {
	width: 80%;
	position: absolute;
	bottom: 0px;
	text-align: left;
	z-index: 1;
	font-family:'hershey';
	line-height: normal;
	font-size: 1.3em;
}

blockquote {
	text-align: center;
	font-size: 1.2em;
	color: #ffffff;
  }


p {
	display: flex;
	flex-direction: column-reverse;
	line-height: normal;
	font-family: "amiamie";
	margin-left: 50px;
	margin-right: 50px;
  }

ul li {
	list-style: circle;
	display: block;
	font-family: "amiamie";
	margin-left: 50px;
	margin-right: 50px;
	line-height: normal;
	list-style-type: disc;
}

li::before {
	content:'◊ ';
}

a {
	color: yellow;

}

h2:hover a{
	color: black;
}

strong {
	font-weight: bold;
	color: white;
}
img, video {
	text-align: center;
	max-height: 80vh;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
  }

.folio {
	position: fixed;
	right: 0;
	bottom: 0;
}

.red {
	color: red;
}

#stretch {
	transform: scale(1,3)
}

[title="alf"] {
	width: 50%;
}

/*[title="ful"]{
	width: 100%;
}*/

[title="neg"] {
	filter: invert(1);
	margin: 0 auto;
}


iframe {
	height: 80vh;
	width: 100%;

}


/* changer liste à puces, h1 (enlever le width), h2 (mettre en plus gros), overflow:hidden */


